@layer fonts, reset, base, layout, utilities;

@layer fonts {
  @font-face {
    font-family: djgross;
    src: url(./fonts/DJGROSS.ttf);
  }

  @font-face {
    font-family: bilbo-swash;
    src: url(./fonts/bilbo/BilboSwashCaps-Regular.otf);
  }

  @font-face {
    font-family: bilbo-regular;
    src: url(./fonts/bilbo/Bilbo-Regular.otf);
  }

  @font-face {
    font-family: dirty-ego;
    src: url(./fonts/DIRTYEGO.TTF);
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role='list'] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  :root {
    --ff-body: sans-serif;
    --ff-heading: 'dirty-ego', serif;

    --fs-500: 1.25rem;
    --fs-700: 1.5rem;
    --fs-1000: 3rem;

    @media (width > 760px) {
      --ff-body: 'bilbo-regular', sans-serif;
      --fs-500: 3rem;
      --fs-700: 6rem;
      --fs-1000: 9rem;
    }
  }

  body {
    font-family: var(--ff-body);
    font-size: var(--fs-500);
  }

  header h1 {
    margin: 1rem 0 0 1rem;
    font-family: var(--ff-heading);
    font-size: var(--fs-1000);
    color: black;
  }

  .intro-tooltip {
    border-bottom: 3px solid black;
  }

  .intro-tooltip:hover {
    background-color: cadetblue;
    cursor: pointer;
  }
}

@layer layout {
  .wrapper {
    padding-inline: 1rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: end;
    @media (width > 760px) {
      flex-direction: row;
    }
  }

  section {
    margin-top: 2rem;
    flex: 1;
  }
}

@layer utilities {
  .screen-reader {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
