@layer reset, base, layout, utilities;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role='list'] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  @font-face {
    font-family: djgross;
    src: url(./fonts/DJGROSS.ttf);
  }
  @font-face {
    font-family: bilbo-swash;
    src: url(./fonts/bilbo/BilboSwashCaps-Regular.otf);
  }
  @font-face {
    font-family: bilbo-regular;
    src: url(./fonts/bilbo/Bilbo-Regular.otf);
  }
  @font-face {
    font-family: dirty-ego;
    src: url(./fonts/DIRTYEGO.TTF);
  }

  :root {
    --ff-body: sans-serif;
    --ff-heading: 'dirty-ego', serif;

    --fs-500: 1.25rem;
    --fs-700: 1.5rem;
    --fs-1000: 3rem;

    --primary-dark: #191e39;
    --primary: #232d53;
    --secondary-darkish: #772935;
    --secondary: #ca2516;
    --secondary-lightish: #df877c;
    --bg1: #f7f0eb;
    --bg2: #f3e8e2;

    @media (width > 760px) {
      --ff-body: 'bilbo-regular', sans-serif;
      --fs-500: 3rem;
      --fs-700: 6rem;
      --fs-1000: 11rem;
    }
  }

  body {
    font-family: var(--ff-body);
    font-size: var(--fs-500);
    background-color: var(--bg1);
    color: var(--primary);
  }
}

@layer layout {
  .row {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    @media (width > 760px) {
      flex-direction: row;
    }
  }

  section {
    margin: 2rem 1rem 0 1rem;
    flex: 1;
  }

  section.dashed {
    @media (width > 760px) {
      border: 4px dashed darkgray;
      border-radius: 10%;
      padding: 1.75rem;
    }
  }

  @media (width > 760px) {
    section:first-child {
      margin-left: 0;
    }
  }
}

@layer utilities {
  .screen-reader {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

header h1 {
  margin: 1rem 0 0 2rem;
  font-family: var(--ff-heading);
  font-size: var(--fs-1000);
  color: var(--primary);
}

.term {
  border-bottom: 3px solid var(--primary);
}

.term:hover {
  background-color: var(--secondary-darkish);
  color: white;
  cursor: pointer;
  border-bottom: var(--secondary-darkish);
}

#content-display {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  background-color: var(--bg2);
  border-left: 4px solid var(--primary);
  font-size: var(--fs-500);
  line-height: 1.6;
}

#content-display p {
  margin: 0;
}
