<section id="block-one">
  <p>
    Using the
    <span class="term">ATProtocol</span>
    , learn the <span class="term">what</span>,
    <span class="term">why</span>
    and
    <span class="term">how</span>
    of decentralized web applications while you build apps for yourself, your
    friends and family, or the world.
  </p>
</section>
<div class="comparison-section">
  <div class="comparison-column">
    <h2>Centralized Applications</h2>
    <p>The application owns your identity and data</p>
    <div class="centralized-app-architecture">
      <img
        src="media/centralized_architecture.svg"
        alt="Centralized Architecture Diagram"
      />
    </div>
    <ul class="comparison-list">
      <li>
        Each app that you use owns all of the data about you, and often will not
        allow you to view it or change it
      </li>
      <li>
        If you decide that you no longer want to use an app, you can't leave
        because everyone you interact with uses it
      </li>
      <li>
        If you decide to leave anyway, the app won't let you take all of your
        data with you
      </li>
      <li>
        Algorithms optimize for "user engagement", even when that means
        manipulation, tracking, spreading misinformation or hate
      </li>
    </ul>
  </div>
  <div class="comparison-column">
    <h2>Decentralized Applications</h2>
    <p>You own your identity and data</p>
    <div class="decentralized-app-architecture">
      <img
        src="media/decentralized_architecture.svg"
        alt="Decentralized Architecture Diagram"
      />
    </div>
    <ul class="comparison-list">
      <li>You own your data, and you can change it however you like</li>
      <li>
        If you want to leave an app, you don't have to lose access to your
        friends
      </li>
      <li>
        Because you own your data, you can keep using it in any new app you
        choose
      </li>
      <li>You choose the apps that offer the experience you want</li>
    </ul>
  </div>
</div>
